.img-thumbnail{
  width: 100%;
  height: 13em;
  margin-top: 20px;
}
/*font inserted from google font*/
html{
  font-family: 'Nunito Sans', sans-serif;
}
.jumbotron{
  margin-top: 80px;
  font-weight: 700;
  color: #2c3e50;
}
.navbar-dark .navbar-nav .nav-link{
  color: #ecf0f1;
}
